@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Ruwudu:wght@400;500;600;700&display=swap');

:root {
    --selection: lightblue;
	--accent: #e83b3b;
    --background: #e8e8e8;
	/* --accent-alt: #ae2334; */
}

body {
  font-family: 'Ruwudu', sans-serif;
  background-color: var(--background);
  font-size: 20px;
  /* margin-top: 8rem; */
}


html {
    scroll-behavior: smooth;
}


a { color: var(--accent); text-decoration: none; }
a:hover {  text-decoration: underline 1.5px; }
::selection { background-color: var(--selection); }
img { user-select: none; pointer-events: none;}


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 9.5rem;
    font-weight: 800;
    line-height: 0.8;

    margin: 4rem 0;
    padding: 0;
    user-select: none; /* for the A's notch's sake */
}


section {
    margin: 0 4rem 0rem 4rem;
    padding: 0;
    scroll-margin-top: 8rem;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* TRBL */

    padding: 3rem 6rem 2rem 4rem;
    font-size: 1.15rem;
    /* background: 
    linear-gradient(to bottom, 

        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 40%,
        rgba(255, 255, 255, 0) 80%
    );
    backdrop-filter: blur(10px) saturate(120%);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
*/
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  */
}

navbar > nav {
    display: flex;
    gap: 1.5rem;
}

navbar > nav > a {
    text-decoration: none;
    color: inherit;
}

/* mobile */
@media (max-width: 600px) { .hide-mobile { display: none !important;} }
@media screen and (min-width: 600px) { .hide-desktop { display: none !important; } }